html {
  scroll-behavior: smooth;
}

/*font families
font-family: 'Bebas Neue', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Lato', sans-serif;
*/

* {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }
  
  /* Style the body */
  body {
    font-family: 'Lato', sans-serif;
    margin: 0px 30px 0px 30px;
    background: #f7eee8;
  }
  
h1 {
    color: #35343D;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5em;
}

p, h2, h1 {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;  margin: 0;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5em;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
}

h4 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5em;
  text-align: center;
  color: #35343D;
  padding-top: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}


  /* Header/logo Title */
  .header {
    padding: 10px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    background: #f7eee8;
    color: #35343D;
  }
  
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    font-family: 'Noto Serif', serif;
    font-weight: 300;
    font-style: italic;
    background-color: #f7eee8;
    justify-content: center;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: #35343D;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: rgba(253, 218, 125, 0.5);
    color: #35343D;
    border-radius: 50px;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 50%;
    background-color: #f7eee8;
    padding: 20px;
    color: #35343D;
  }
  
  /* Main column */
  .main {
    flex: 50;
    background-color: #f7eee8;
    padding: 20px;
    color: #35343D;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #f7eee8;
    font-size: small;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  .wrapper {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
  }

  .wrapper > div {
    flex: 1 1 150px;
  }

/*button magic*/

  .button {
    display: inline-block;
    border-radius: 50px;
    background-color: #35343D;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: 1.25em;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 30px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /*grid for right side*/

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    padding: 10px;
  }
  
  .grid-container > div {
    text-align: left;
    padding: 20px 0;
  }
  
  .item1 {
    grid-column: 1 / span 2;
    background-color: #667985;
    border-radius: 30px;
    opacity: 0.8;
    color: #ced9bf;

  }

  .item2 {
    background-color: #32424b;
    border-radius: 30px;
    opacity: 0.8;
    color: #c09576;
  }

  .item3 {
    background: #b94429;
    background-position: 50% 0;
    border-radius: 30px;
    opacity: 0.8;
    color: #fdda7d;
  }

/*cards*/
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #f7eee8;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #35343D;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #35343D;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #35343D;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #89a1af;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #ced9bf;
}





@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

/*scroll to top*/

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #35343D; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  font-size: 0.75em; /* Increase font size */
  font-family: 'Noto Serif', serif;
  font-weight: 300;
  font-style: italic;

}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/*cards*/
.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}